body {
    background-color: #fff;
}
#app{
    margin: 50px 100px;
}
.greating{
    margin: 10px;
    font-size: 20px;
}
.function-name{
    clear: both;
    font-weight: bold;
}
.hint{
    text-transform: lowercase;
    font-size: 12px;
    font-style: italic;
    color: darkgray;
    margin-bottom: 10px;
}